{{ define "title" }}New Product{{ end }}
{{ define "content" }}
	<div>
		<form hx-post="/admin/products" enctype="multipart/form-data">
			<div class="mb-3">
				<label>Product Name</label>
				<input class="form-control" type="text" name="name">
			</div>
			<div class="mb-3">
				<label>Price</label>
				<input class="form-control" type="number" name="price" step=".01">
			</div>
			<div class="mb-3">
				<label>Description</label>
				<input class="form-control" type="textarea" name="description">
			</div>
			<div class="mb-3">
				<label>Category</label>
				<select class="form-control" name="category" id="category">
					<option value="Cutting Board">Cutting Board</option>
					<option value="Charcuterie Board">Charcuterie Board</option>
					<option value="Chopping Block">Chopping Block</option>
				</select>
			</div>
			<div id="uploadContainer">
			{{ template "imageUpload" }}
			</div>
			<button class="btn">Submit</button>
		</form>
	</div>
	<script>

		function clearImages() {
			imageContainer = document.getElementById("imageContainer");
			for(let i = 0; i < imageContainer.children.length; i++) {
				imageContainer.children[i].remove();
			}
		}

		function createImageDisplay(image) {
			let newImage = document.createElement("img");

			const reader = new FileReader();
			reader.onload = function(e) {
				newImage.src = e.target.result;
			}
			reader.readAsDataURL(image);
			newImage.classList.add("preview-image");
			return newImage;
		}

		async function displaySelectedImage(event) {
			clearImages();

			const fileInput = event.target;

			if(fileInput.files) {
				for(let i = 0; i < fileInput.files.length; i++){
					let imageElement = createImageDisplay(fileInput.files[i]);
					document.getElementById("imageContainer").appendChild(imageElement);
				}
			}
		}
	</script>
{{ end }}

{{ define "imageUpload" }}
	<div>
		<div id="imageContainer" class="mb-4 d-flex justify-content-center">
			<img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" alt="placeholder image" id="placeholderImage"
			style="width:300px;"/>
		</div>
		<div class="d-flex justify-content-center">
			<div class="btn btn-primary btn-rounded">
				<label class="form-label text-white m-1" for="imageUpload">Choose file</label>
				<input class="form-control d-none" name="imageUploads[]" type="file" id="imageUpload" onchange="displaySelectedImage(event)" accept=".jpp,.jpeg,.png"
				multiple="multiple">
			</div>
		</div>
	</div>
{{ end }}
