{{ define "title" }}Products{{ end }}
{{ define "content" }}
		<div class="container">
			<div class="row justify-content-center">
			{{ range . }}
				{{ template "productCard" . }}
			{{end}}
			</div>
		</div>
{{ end }}

{{ define "productCard" }}
<div class="card product-card">
	<a href="/products/{{ .Product.Id }}" class="product-link">
		<img src="/images/{{ .ProductMainImage }}" class="card-img-top" alt="">
		<div class="card-body">
			<h5 class="card-title">{{ .Product.Name }}</h5>
			<p class="card-text">
				Price : {{ .Product.Price }} <br>
				Category: {{ .Product.Category }}
			</p>
		</div>
	</a>
</div>
{{ end }}
